@charset "UTF-8";
/* 文字エンコーディングをUTF-8に設定 */

/*
 アルゴリズム道場のCSS設定.
 */

/** 文字フォントが赤くならないように設定 */
code {
  color: black !important; /* code要素のテキスト色を黒に設定。!importantで他のスタイルより優先度を高くする */
}

/** 画像サイズを設定 */
#level5_img,
#level6_img {
  width: 100%; /* 画像の幅を親要素の100%に設定 */
}

/** 入力例＆出力例ボックス用 */
.content-box-e {
  min-width: 250px; /* ボックスの最小幅を250pxに設定 */
  margin: 5px; /* 周囲の要素からの距離を5pxに設定 */
  padding: 10px; /* 内側の余白を10pxに設定 */
  border-radius: 3px; /* 角を軽く丸める */
  background-color: #f0eeee; /* 背景色を淡い灰色に設定 */
  border: 1px solid #c7c7c7; /* 枠線を設定 */
}

/** 問題ボックス用 */
.content-box-q {
  min-width: 250px; /* ボックスの最小幅を250pxに設定 */
  margin: 5px; /* 周囲の要素からの距離を5pxに設定 */
  padding: 16px 48px 16px 48px; /* 内側の余白を上下16px、左右48pxに設定 */
  border-radius: 3px; /* 角を軽く丸める */
  background-color: #ffffff; /* 背景色を白に設定 */
  border: 1px solid #c7c7c7; /* 枠線を設定 */
}

/** 入力ボックス用(黄色) */
.content-box-ex {
  min-width: 250px; /* ボックスの最小幅を250pxに設定 */
  margin: 5px; /* 周囲の要素からの距離を5pxに設定 */
  padding: 10px; /* 内側の余白を10pxに設定 */
  border-radius: 3px; /* 角を軽く丸める */
  background-color: rgb(255 250 142); /* 背景色を明るい黄色に設定 */
  border: 1px solid #c7c7c7; /* 枠線を設定 */
}
