<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>YAMABIKO</title>
    <link rel="icon" th:href="@{/img/common/favicon.ico}" href="../static/img/common/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
</head>
<body>
    <header>
        <a href="#" th:href="@{/}">
            <img
                class="header-logo"
                th:src="@{/img/common/yamabiko-logo.png}"
                src="../static/img/common/yamabiko-logo.png"
            />
            <strong>YAMABIKO</strong>
        </a>
        <a href="#" th:href="@{/logout}">
            <img th:src="@{/img/common/exit.svg}" src="../static/img/common/exit.svg" />ログアウト
        </a>
    </header>
    <main>
        <h1 class="page-title">
            <span th:text="${session.userData?.userName ?: 'ゲスト'}"></span>さんのダッシュボード
        </h1>
        <div class="card">
            <div class="card-content">
                <h3>チャット</h3>
                <ul>
                    <li><a href="#" th:href="@{/chat}"> [Chat]チャット </a></li>
                </ul>
            </div>
        </div>
        </main>
    <footer>&copy; 2024 YAMABIKO</footer>
</body>
</html>